@{
    ViewBag.Title = "Преддипломная практика";
}


<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<address>
    SoftCorp - Автоматизированная информационная система по работе с клиентами IT-компании<br />
    C#<br />
    Visual Studio Community 2019<br />
    ASP.NET<br />
    MVC 5<br />
    LINQ to Sql<br />
</address>