@{
    ViewBag.Title = "Администрирование";
}



<h2>@ViewBag.Title</h2>


<label>Выходные формы</label>
<ul>
    <li>
        Структура оплаченных заявок за период c группировкой по каждой ...
    </li>
    <li>Выручка по месяцам указанного года с группировкой по каждому месяцу</li>
    <li>Объемы продаж за указанный период по категориям c группировкой по каждой категории</li>
    <li>Сводная информация по исполнению заявок</li>
    <li>Сводная информация по заявкам клиентов</li>
    <li>Структура реализации ...</li>
</ul>