@{
    ViewBag.Title = "Домашняя страница";
}



<div class="jumbotron">
    <h1>О системе</h1>
    <p class="lead">SoftCorp - проектирование и разработка программных решений для бизнеса, сложных интернет-проектов и мобильных приложений</p>
    <p><a href="/Home/PageCategories" class="btn btn-primary btn-lg">Решения &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Выбор способов оплаты</h2>
        <p><a class="btn btn-default" href="/Home/PageWays">Способы оплаты &raquo;</a></p>
    </div>
</div>