@{ 
    ViewBag.Title = "Инструкции оформления заявки";
}




<div class="jumbotron">
    <h1>Инструкции</h1>


    <div class="row">
        <ul>
            <li>Пройдите регистрацию на странице @Html.ActionLink("Регистрация", "Reg", "Home")</li>



            <li>Авторизируйтесь на сайте, предоставив логин и пароль на странице @Html.ActionLink("Авторизация", "Login", "Home")</li>



            <li>При необходимости подкорректируйте личные данные профиля в кабинете покупателя.</li>



            <li>
                Воспользуйтесь @Html.ActionLink("Решения", "Catalog", "Home") для выбора. После регистрации и авторизации
                на сайте в Решении появится возможность добавления в корзину.
            </li>

            <li>Перейдя в корзину, Вы сможете заказать выбранное решение.</li>

            <li>Если у Вас возникли вопросы, обащайтесь по контактам, указанным в разделе @Html.ActionLink("Контакты", "Contact", "Home").</li>
        </ul>
    </div>

</div>