@{
    ViewBag.Title = "Регистрация на сайте";
}

    <div class="jumbotron">
        <h1>Регистрация</h1>
        <p class="lead">Вы успешно зарегистрированы. Воспользуйтесь формой входа.</p>
        <p><a href="/Home/Login" class="btn btn-primary btn-lg">Войти &raquo;</a></p>
    </div>